

/* table styling */

.table-header {
    margin-bottom: 30px;
}

table {
    min-width: 1000px;
    border-collapse: collapse;
}

th {
    font-size: 18px;
    padding-top: 10px;
}

tr {
    height: 50px;

    text-align: center;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

/* list styiling */

